# Ignore editor settings
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.code-workspace

# Ignore macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Ignore Linux system files
.Trash-*

# Ignore archives
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.bz2

# Ignore minecraft extension files
spyglass.json

# Ignore local scripts
script/
scripts/

# Ignore local project files
project_file/
project_files/
